<p>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
    </style>
</p>
<p>
    Your rewards are unlocked below. Every time you spend, we will update
    your balance based on your consecutive spend over a 12 month period.
</p>
<table>
    <tbody>
        <tr>
            <td>&pound;100 over 12 months = level 1</td>
            <td>&pound;200 over 12 months = level 2</td>
            <td>&pound;300 over 12 months = level 3</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>You can redeem multiple rewards at once depending on your balance.</p>
