<script
    src="https://kit.fontawesome.com/d2453178bb.js"
    crossorigin="anonymous"
></script>
<style>
    html {
        scroll-behavior: smooth;
    }
    .my_rewards__text_section {
        padding: 0;
        text-align: center;
    }

    .rewards-card-number--barcode {
        padding: 1rem;
    }
    #rewards-redesign {
        display: none;
    }

    #top-copy {
        margin: 0 2rem 1rem 2rem;
    }

    .row a:hover {
        color: black;
    }
    .row a:active {
        color: black;
    }

    @media screen and (min-width: 320px) and (max-width: 359px) {
        .card {
            border-radius: 8px;
            -webkit-box-shadow: 0px 3px 6px rgb(0 0 0 / 0.16);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            max-width: 107px;
            max-height: 140px;
            text-align: center;
            margin: 0.5rem;
            padding: 0.1rem;
        }
        .card p {
            padding-left: 0.3rem;
            padding-right: 0.5rem;
            margin: 0 !important;
        }
        .row {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .title {
            font-weight: bold;
            font-size: 17px;
        }

        .copy {
            font-size: 11px;
        }

        .link {
            font-size: 9px;
        }
    }

    @media screen and (min-width: 360px) and (max-width: 600px) {
        .card {
            border-radius: 8px;
            -webkit-box-shadow: 0px 3px 6px rgb(0 0 0 / 0.16);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            text-align: center;
            padding: 0.3em;
            margin: 0.5em;
        }
        .card p {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin: 0 !important;
        }
        .row {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .copy {
            font-size: 0.7rem;
        }

        .link {
            font-size: 0.6rem;
        }
    }
    @media screen and (min-width: 601px) {
        .card {
            border-radius: 8px;
            -webkit-box-shadow: 0px 3px 12px rgb(0 0 0 / 0.16);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            text-align: center;
            padding: 1rem;
            margin: 1.5em;
        }
        .card p {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin: 0 !important;
        }
        .row {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .title {
            font-size: 2rem;
        }

        .copy {
            font-size: 1rem;
        }

        .link {
            font-size: 0.9rem;
        }
    }

    .title {
        font-family: "DIN Condensed", sans-serif;
        white-space: nowrap;
    }

    .card {
        width: fit-content;
        height: fit-content;
        text-align: center;
    }
    .card p {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #progress-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    #progress-bar {
        width: 50%;
        height: 5px;
        background-color: #f5f5f5;
        border-radius: 2rem;
        margin: auto 3px auto 3px;
    }

    #reward-progress {
        max-width: 100%;
        height: 5px;
        background-color: #e00034;
        border-radius: 2rem;
    }

    #start-step {
        border: 4px solid #e00034;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #fff;
        line-height: 3rem;
        font-size: x-large;
        color: white;
    }

    #end-step {
        background-color: black;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        color: white;
        line-height: 3rem;
        font-size: x-large;
    }
</style>
<div id="rewards-old-design">
    <p>
        <style type="text/css">
            table {
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #000000;
                text-align: left;
                padding: 8px;
            }
        </style>
    </p>
    <p>
        Your rewards are unlocked below. Every time you spend, we will
        update your balance based on your consecutive spend over a 12 month
        period.
    </p>
    <table>
        <tbody>
            <tr>
                <td>&pound;100 over 12 months = level 1</td>
                <td>&pound;200 over 12 months = level 2</td>
                <td>&pound;300 over 12 months = level 3</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
        You can redeem multiple rewards at once depending on your balance.
    </p>
</div>
<div id="rewards-redesign">
    <p id="top-copy">
        Your rewards are unlocked below. Every time you spend, we will
        update your balance based on your consecutive spend over a 12 month
        period.
    </p>
    <div id="rewards-progress">
        <span id="level" style="text-align: center"
            ><strong>Level</strong></span
        >
        <div id="progress-container">
            <div id="start-step"></div>
            <div id="progress-bar">
                <div id="reward-progress"></div>
            </div>
            <div id="end-step"></div>
        </div>
        <p
            id="threshold-message"
            style="margin-top: 1rem; margin-bottom: 0"
        >
            Spend an extra <strong>£0.00</strong> to unlock
            <strong>LEVEL </strong>
        </p>
        <div class="row">
            <a id="carousel-link-1" href="#reward-level-1-carousel">
                <div id="reward-card-1" class="card">
                    <p id="title-1" class="title">
                        <span id="lock-1" style="padding-right: auto"
                            ><i class="fa-solid fa-lock"></i
                        ></span>
                        <strong>LEVEL 1</strong>
                    </p>
                    <p id="copy-1" class="copy">
                        Spend £100<br />
                        per year
                    </p>
                    <a
                        id="carousel-mini-link-1"
                        href="#reward-level-1-carousel"
                        ><p id="link-1" class="link">View rewards</p></a
                    >
                </div>
            </a>
            <a id="carousel-link-2" href="#reward-level-2-carousel">
                <div id="reward-card-2" class="card">
                    <p id="title-2" class="title">
                        <span id="lock-2" style="padding-right: auto"
                            ><i class="fa-solid fa-lock"></i
                        ></span>
                        <strong>LEVEL 2</strong>
                    </p>
                    <p id="copy-2" class="copy">
                        Spend £200<br />
                        per year
                    </p>
                    <a
                        id="carousel-mini-link-2"
                        href="#reward-level-2-carousel"
                        ><p id="link-2" class="link">View rewards</p></a
                    >
                </div>
            </a>
            <a id="carousel-link-3" href="#reward-level-3-carousel">
                <div id="reward-card-3" class="card">
                    <p id="title-3" class="title">
                        <span id="lock-3" style="padding-right: auto"
                            ><i class="fa-solid fa-lock"></i
                        ></span>
                        <strong>LEVEL 3</strong>
                    </p>
                    <p id="copy-3" class="copy">
                        Spend £300<br />
                        per year
                    </p>
                    <a
                        id="carousel-mini-link-3"
                        href="#reward-level-3-carousel"
                        ><p id="link-3" class="link">View rewards</p></a
                    >
                </div>
            </a>
        </div>
    </div>
    <p>
        You can redeem multiple rewards at once depending on your balance.
    </p>
</div>
<script>
    waitFor$(function () {
        const level1Threshold = 100;
        const level2Threshold = 200;
        const level3Threshold = 300;

        function roundToTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }
        function percentage(currentPoints, totalThreshold) {
            let num = roundToTwo((100 * currentPoints) / totalThreshold);
            let text = num.toString();
            return text + "%";
        }

        var rewardCarousel1 = document.getElementsByClassName(
            "my_rewards__reward_tier"
        )[0];
        rewardCarousel1.id = "reward-level-1-carousel";
        var rewardCarousel2 = document.getElementsByClassName(
            "my_rewards__reward_tier"
        )[1];
        rewardCarousel2.id = "reward-level-2-carousel";
        var rewardCarousel3 = document.getElementsByClassName(
            "my_rewards__reward_tier"
        )[2];
        rewardCarousel3.id = "reward-level-3-carousel";

        if (TPS.user.loyaltyData.currentRewardTier === null) {
            document.getElementById("level").innerHTML =
                "<strong>Level 0</strong>";
            document.getElementById("end-step").innerText = "1";
            document.getElementById("threshold-message").innerHTML =
                "Spend an extra <strong>£" +
                TPS.user.loyaltyData.nextRewardTier.pointsToUnlock +
                ".00 </strong> to unlock <strong>LEVEL 1</strong>";
            document.getElementById("lock-1").style.color = "#808080";
            document.getElementById("lock-2").style.color = "#808080";
            document.getElementById("lock-3").style.color = "#808080";
            document.getElementById("title-1").style.color = "#808080";
            document.getElementById("title-2").style.color = "#808080";
            document.getElementById("title-3").style.color = "#808080";
            document.getElementById("copy-1").style.color = "#808080";
            document.getElementById("copy-2").style.color = "#808080";
            document.getElementById("copy-3").style.color = "#808080";
            document.getElementById("link-1").style.color = "#808080";
            document.getElementById("link-2").style.color = "#808080";
            document.getElementById("link-3").style.color = "#808080";

            document.getElementById("reward-progress").style.width =
                percentage(TPS.user.loyaltyData.points, level1Threshold);
        } else {
            switch (TPS.user.loyaltyData.currentRewardTier.title) {
                case "1":
                    document.getElementById("level").innerHTML =
                        "<strong>Level 1</strong>";
                    document.getElementById("start-step").innerText = "1";
                    document.getElementById(
                        "start-step"
                    ).style.backgroundColor = "#e00034";
                    document.getElementById("start-step").style.border =
                        "none";
                    document.getElementById("end-step").innerText = "2";
                    document.getElementById("lock-1").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById(
                        "threshold-message"
                    ).innerHTML =
                        "Spend an extra <strong>£" +
                        TPS.user.loyaltyData.nextRewardTier
                            .pointsToUnlock +
                        ".00 </strong> to unlock <strong>LEVEL 2</strong>";
                    document.getElementById("lock-2").style.color =
                        "#808080";
                    document.getElementById("lock-3").style.color =
                        "#808080";
                    document.getElementById("title-2").style.color =
                        "#808080";
                    document.getElementById("title-3").style.color =
                        "#808080";
                    document.getElementById("copy-2").style.color =
                        "#808080";
                    document.getElementById("copy-3").style.color =
                        "#808080";
                    document.getElementById("link-2").style.color =
                        "#808080";
                    document.getElementById("link-3").style.color =
                        "#808080";

                    document.getElementById(
                        "reward-progress"
                    ).style.width = percentage(
                        TPS.user.loyaltyData.points,
                        leve21Threshold
                    );
                    break;
                case "2":
                    document.getElementById("level").innerHTML =
                        "<strong>Level 2</strong>";
                    document.getElementById("start-step").innerText = "2";
                    document.getElementById(
                        "start-step"
                    ).style.backgroundColor = "#e00034";
                    document.getElementById("start-step").style.border =
                        "none";
                    document.getElementById("end-step").innerText = "3";
                    document.getElementById("lock-1").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById("lock-2").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById(
                        "threshold-message"
                    ).innerHTML =
                        "Spend an extra <strong>£" +
                        TPS.user.loyaltyData.nextRewardTier
                            .pointsToUnlock +
                        ".00 </strong> to unlock <strong>LEVEL 3</strong>";
                    document.getElementById("lock-3").style.color =
                        "#808080";
                    document.getElementById("title-3").style.color =
                        "#808080";
                    document.getElementById("copy-3").style.color =
                        "#808080";
                    document.getElementById("link-3").style.color =
                        "#808080";

                    document.getElementById(
                        "reward-progress"
                    ).style.width = percentage(
                        TPS.user.loyaltyData.points,
                        level3Threshold
                    );
                    break;
                case "3":
                    document.getElementById("level").innerHTML =
                        "<strong>Level 3</strong>";
                    document.getElementById("start-step").innerText = "3";
                    document.getElementById(
                        "start-step"
                    ).style.backgroundColor = "#e00034";
                    document.getElementById("start-step").style.border =
                        "none";
                    document.getElementById("end-step").innerHTML =
                        "<i class='fa-solid fa-star'>";
                    document.getElementById(
                        "end-step"
                    ).style.backgroundColor = "#e00034";
                    document.getElementById("lock-1").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById("lock-2").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById("lock-3").innerHTML =
                        "<i class='fa-solid fa-unlock'>";
                    document.getElementById(
                        "threshold-message"
                    ).innerHTML =
                        "You have reached the highest reward level!";
                    break;

                    document.getElementById(
                        "reward-progress"
                    ).style.width = "100%";
            }
        }
    });
</script>
