<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="tooltip" role="tooltip">
      My tooltip
      <div id="arrow" data-popper-arrow></div>
    </div>

    <div class="position-absolute bottom-0 end-0">
      <nav class="menu">
        <input
          type="checkbox"
          href="#"
          class="menu-open"
          name="menu-open"
          id="menu-open"
        />
        <label class="menu-open-button" for="menu-open">
          <div id="crossfade">
            <img src="images/live-chat.svg" alt="Live Chat Logo" />
            <img src="images/hero.svg" alt="Hero Logo" />
            <img src="images/accessibility.svg" alt="Accessibility Logo" />
          </div>
          <span class="hamburger hamburger-1"></span>
          <span class="hamburger hamburger-2"></span>
          <span class="hamburger hamburger-3"></span>
        </label>

        <a href="#" class="menu-item" id="accessibility">
          <img
            class="grow"
            src="images/accessibility.svg"
            alt="Accessibility Logo"
          />
        </a>
        <a href="#" class="menu-item" id="hero">
          <img class="grow" src="images/hero.svg" alt="Hero Logo" />
        </a>
        <a href="#" class="menu-item" id="live-chat">
          <img class="grow" src="images/live-chat.svg" alt="Live Chat Logo" />
        </a>
      </nav>
    </div>

    <div id="gwc-chatAvailable" class="copy" style="">
      <h2>Live Chat Available</h2>
      <span>Start Live Chat</span>
    </div>
    <div id="gwc-chatBusy" class="copy hidden" style="display: none !important">
      <h2>Live Chat Busy</h2>
      <span>But please email us with any detials</span>
    </div>
    <div
      id="gwc-chatOffline"
      class="copy hidden"
      style="display: none !important"
    >
      <h2>Live Chat Offline</h2>
      <span>But please email us with any detials</span>
    </div>

    <script
      type="text/javascript"
      src="https://chat.system.gnatta.com/script/app.js"
    ></script>

    <script type="text/javascript">
      // Use your latest API key (846d8b65-8d7d-4719-853b-1faf8bdb4538) to start a Gnatta web chat.
      gnatta.start(
        "846d8b65-8d7d-4719-853b-1faf8bdb4538",
        "https://chat.system.gnatta.com"
      );
      // Register the 3 web chat buttons on your web page for available, busy and offline
      gnatta.register(
        "ac28da88-4d70-46b6-9fbb-01df20d01a8a",
        "gwc-chatAvailable",
        "gwc-chatBusy",
        "gwc-chatOffline"
      );
    </script>

    <script>
      setTimeout(function () {
        $("#gnatta").removeClass("gnattaHidden");
        setTimeout(function () {
          $("#gwc-chatBusy, #gwc-chatAvailable, #gwc-chatOffline").addClass(
            "animate"
          );
        }, 500);
      }, 2500);
    </script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      // With the above scripts loaded, you can call `tippy()` with a CSS
      // selector and a `content` prop:
      tippy("#accessibility", {
        content: "Accessibility Widget",
      });
      tippy("#hero", {
        content: "Hero Widget",
      });
      tippy("#live-chat", {
        content: "Live Chat Widget",
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
